<div class="" style="height: 500px;">
    <carousel [interval]="slideInterval">
          <slide>
            <img src="assets/images/wedding.jpg" alt="First slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/birthday.jpg" alt="Second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/anniversary.jpg" alt="Third slide" style="display: block; width: 100%;">
          </slide>
    </carousel>
</div>
